<div style="height: 400px;" class="container mb-5 bg-success text-light p-5">
    <div class="row">
        <div class="col-lg-4">
            <h3><i class="fa-solid fa-graduation-cap"></i>CookPedia</h3>
            <p style="text-align: justify;">Discover 100+ recipes in your hand with the best recipe.Help you to find the Easiest way to cook</p>
        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-5">
            <h3>Sign Up for Our news letter</h3>
            <div class="d-flex my-5">
                <input placeholder="E mail please" type="text" class="form-control">
                <button style="width: 50px;" class="bg-success ms-3  shadow border rounded text-light"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
