<app-header></app-header>
<div class="container">
    <div style="height: 350px;" class="bg-success row align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-light text-center">
            <h1>Contact Us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis nemo, quisquam aliquid nobis
                reiciendis placeat quod. Voluptatum, alias. Tempora dolor possimus est voluptates. Hic porro dolores
                deserunt. Doloremque, reprehenderit quis!</p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div style="height:650;" class="row align-items-center my-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h3>Get In Touch</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, sapiente! Impedit, accusantium odio exercitationem fugit repellendus non iure voluptate a quaerat ratione laboriosam quia beatae quod molestias sint iusto fugiat.</p>
            <div class="d-flex">
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center">
                    <i class="fa-solid fa-location"></i>
                    
                </div>
                <div class="ms-4">
                    <h5>Address</h5>
                    <p>NYC 4578,PO gvgdsdf</p>
                </div>
            </div>
            <div class="d-flex">
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center">
                    <i class="fa-solid fa-phone"></i>
                    
                </div>
                <div class="ms-4">
                    <h5>Phone</h5>
                    <p>9876543210</p>
                </div>
            </div>
            <div class="d-flex">
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center">
                    <i class="fa-solid fa-envelope"></i>
                    
                </div>
                <div class="ms-4">
                    <h5>Email</h5>
                    <p>{{demoMail}}</p>
                </div>
            </div>
            <hr>
            <h5>Follow Us</h5>
            <div class="d-flex mt-4">
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center me-3">
                    <i class="fa-brands fa-facebook"></i>
                    
                </div>
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center me-3">
                    <i class="fa-brands fa-instagram"></i>
                    
                </div>
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center me-3">
                    <i class="fa-brands fa-twitter"></i>
                    
                </div>
                <div style="height: 50px;width: 50px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-center me-3">
                    <i class="fa-brands fa-youtube"></i>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="border rounded shadow p-5">
                <h3>Client Testimony</h3>
                <div class="my-3">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                </div>
                <p class="text-secondary">By Submitting,you are Accepting the terms and Conditions of our Website.We may use Your Details on our website</p>
                <button class="btn btn-success float-end">Submit</button>
            </div>
        </div>
        <div class="col-lg-1"></div>

    </div>
    <iframe class="my-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15716.662768889972!2d76.28831129999999!3d10.003168749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d141417b291%3A0x1d8f195eed3e3e5d!2sJLN%20Stadium!5e0!3m2!1sen!2sin!4v1731405636407!5m2!1sen!2sin" width="1300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>